<footer class="global__footerwrapper">

    <div class="global__footerwrapper--inner">
        <div class="global__footerwrapper--inner--text">
          <p class="global__footerwrapper--inner--text--paragraph">sample text</p>
          <p class="global__footerwrapper--inner--text--paragraph">
            &copy; Copyright <span id="currentYear">2024</span>
            <a class="global__footerwrapper--links" href="https://colorincode.me/" alt="Color in Code">Color In Code </a> 
            <!-- <a class="global__footerwrapper--links" href="#" alt="Privacy Policy">Privacy Policy</a> -->
        </p>
        </div>
      </div>  
</footer>