@import url("https://use.typekit.net/piq5ctv.css");


@font-face {
    font-family: "Rift", sans-serif;
    src: url("https://use.typekit.net/piq5ctv.css");
    font-display: swap;
}
body {
  background-color: rgba(0, 0, 0, 0.915);
/* background-color: blue; */
  color: rgb(251, 251, 251);
}

.myclass {
    color: beige;
}
/*resets*/
body,html {
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Rift", sans-serif;
}

/* 
.otherClassName {
    composes: className from './style.css';
  } */